venv
*.sqlite
dataset/.ipynb_checkpoints
*.log
*.aux
*.synctex
*.pdf
*.xdv
*.blg
*.bbl
*.out
*.toc
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.synctex(busy)
*.synctex
dataset/testsmells_202601061427.csv
